<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-phue74qdo5rss.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ba926d9f-c727-4c17-9115-c735f9799f9f/resourceGroups/hands-on-lab-AQSX8ZY9PO/providers/Microsoft.Web/sites/TollBoothFunctions-phue74qdo5rss</ResourceId>
    <UserName>$TollBoothFunctions-phue74qdo5rss</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tollboothfunctions-phue74qdo5rss.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>